.container {

    background-color: #1b1627;
    color: white;
    padding: 30px;
    text-align: center;
    width: 700px;
}

.container h1 {
    color: #797680;
    margin-bottom: 30px;
    font-family: 'Lato', sans-serif;
}

.referrals {
    display: flex;
    justify-content: space-between;
    list-style: none;

}

.referrals li {
    font-size: 14px;
}

.referrals li span {
    color: #797680;
    font-weight: bold;
    margin-right: 10px;

}

.container .progress {
    height: 22px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgb(255 255 255 / 15%);
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;

}

.container .progress>div {
    width: 1px;
    height: 20px;
    background-color: white;
    display: flex;

}

.container .progress>div:first-child {
    margin-left: 20px;
}

.container .progress>div:nth-child(2) {
    margin-left: 5px;
}

.container .progress>div:nth-child(3) {
    margin-right: 10px;
}

.container .progress>div:nth-child(4) {
    margin-right: 21px;
}

.reward {
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: #50ae55;
}

.reward li {
    font-size: 14px;
}

.reward li span {
    color: #797680;
    font-weight: bold;
    margin-right: 10px;

}

.reward img {
    width: 20px;
    height: 20px;
    margin-right: 5px;


}